# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Environment variables
.env
.env.development
frontend/.env.development
frontend/.env.production

# Databases
*.db
.sql

# IDE
.vscode/
.idea/

# Docker
*.log

# Images folder
images/
logfile.txt

aws/