services:
  s3:
    image: minio/minio
    ports:
      - "9000:9000" # API port (your backend uses this)
      - "9001:9001" # Console port (you use this in browser)
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password
    command: server /data --console-address ":9001"
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: ygo_db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: rootpassword
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  backend:
    build: .
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=mysql+pymysql://user:password@db:3306/ygo_db
      - SECRET_KEY=3f0afcde0e5093d46868403ab5c4eeddf1dd481277cc547b517582972966c5f0
    depends_on:
      db:
        condition: service_healthy

  frontend:
    build: ./frontend  # Path to your frontend folder
    ports:
      - "3000:80"      # You'll visit http://localhost:3000 to see your site
    depends_on:
      - backend